dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="010459a8-7909-46bb-85ad-7b4885e8d260" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="844b61f0-1539-442c-b317-aa1f1f7eca7e" >
		<http:listener doc:name="Listener" doc:id="f66b99b1-0575-4705-b782-f14a4d5ebe5a" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="aba3b62f-c7b0-4add-ac49-7ed1637a6999" />
	</flow>
</mule>
